@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span {
    color: crimson;
}

.portfolio {
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    border: 2px solid red;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

.portfolio:hover {
    color: white;
    background-color: crimson;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
}

.brand h1 span {
    color: crimson;
}


/* header section */

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
}

.header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

nav {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    width: 70%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav li {
    width: 25%;
}

nav a {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 18px ;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

















/* End header section */


/* Primary Section */
#primary {
    background-image: url(../img/homebg.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#primary::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

#primary  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;

}

#primary .bg1 {
    width: 300px;
    margin: 0 auto;
    margin-left: 100px;
    padding-left: 100px;
    justify-content: flex-end;
    align-items: flex-end;
}

#primary h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color: transparent;
    animation: text_reveal .5 ease forwards;
    animation-delay: 1s;
}

#primary h1:nth-child(1) {
    animation-delay: 1s;
}
#primary h1:nth-child(2) {
    animation-delay: 2s;
}
#primary h1:nth-child(3) {
    animation: text_reveal_name .5 ease forwards;
    animation-delay: 3s;

}

#primary h1 span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}

#primary h1:nth-child(1) span {
    animation-delay: .5s;
}
#primary h1:nth-child(2) span {
    animation-delay: 1.5s;
}
#primary h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#primary .portfolio {
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    border: 2px solid red;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

#primary .portfolio:hover {
    color: white;
    background-color: crimson;
}
/* End primary section */

/* Shop item section */
#shop {
    background-color: antiquewhite;
}

#shop .shop {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0px;
}

#shop .shop-top {
    max-width: 700px;
    margin: 0 auto;
}

#shop .shop-top p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

#shop .shop-item p {
    color: white;
    font-weight: 300;

}

#shop .shop-bottom .icon{
    display: flex;
    justify-content: center;
}

#shop .shop-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#shop .shop-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(../img/download.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#shop .shop-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

#shop .shop-item .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#shop .shop-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#shop .shop-item p {
    text-align: left;
}

/* End shop item */

/* Project section */

#projects {
    background-color: antiquewhite;
}

#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(223, 163, 86);
    color: white;
}

#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 10px;
    color: black;
    
}

#projects .project-info p {
    color: white;
    padding-top: 7px;
}

#projects .project-info .visit {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 1px solid red;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

#projects .project-info .visit:hover {
    color: white;
    background-color: crimson;
}


#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
}

#projects .project-img img {
    transition: .3s ease transform ;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}

/* End project section */

/* About me section */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0;
    padding: 100px 20px;
}

#about .col-left{
    width: 250px;
    height: 360px;
}

#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p{
    margin-bottom: 20px;
}

#about .col-right .portfolio {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
}

#about .col-left .about-img {
    position: relative;
    border: 10px solid white;

}   

#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}

/* End about me  */

/* contact sesion */

    #contact .contact {
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;
    }

    #contact .contact-items {
        width: 400px;
    }

    #contact .contact-item {
        width: 80%;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        padding: 30px;
        margin: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 0px 18px 0 #0000002c;
        transition: .3 ease box-shadow;
    }

    #contact .contact-item:hover {
        box-shadow: 0px 0px 5px 0 #0000002c;
    }

    #contact .icon {
        width: 70px;
        margin: 0 auto;
        margin-bottom: 10px;

    }

    #contact .contact-info h1 {
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 5px;
    }

    #contact .contact-info h2 {
        font-size: 1.3rem;
        line-height: 2rem;
        font-weight: 500;
    }

/* end contact */

/* footer */

    #footer {
        background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    }

    #footer .footer {
        min-height: 200px;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 10px;
    }

    #footer h2 {
        color: white;
        font-weight: 500;
        font-size: 1.8rem;
        letter-spacing: .1rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #footer .social-icon {
        display: flex;
        margin-bottom: 30px;
    }

    #footer .social-item {
        height: 95px;
        width: 95px;
        margin: 0 5px;
    }

    #footer .social-item img {
        filter: grayscale(1);
        transition: .3s ease filter; 
    }

    #footer .social-item:hover img {
        filter: grayscale(0);
    }

    #footer p{
        color: white;
        font-size: 1.3rem;

    }

/* end footer */

/* Keyframes */

@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0;
    }

    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100%{
        color: white;
    }
}

@keyframes text_reveal_name {
    100%{
        color: crimson;
    }
}

/* End Keyframes */

/* Media query */
/* Mobile */
    @media screen and (max-width: 599px) {
        
    }

/* Tablet     */
    @media screen and (min-width: 768px) {
        .portfolio {
            font-size: 2.5rem;
            padding: 20px 60px;
        }
        h1.section-title {
            font-size: 7rem;

        }

        /* ,primary */
        #primary h1 {
            font-size: 4rem;
        }
        /* end primary  */

        /* shop */

        #shop .shop-bottom .shop-item{
            flex-basis: 38%;
            margin: 2.5%;
        }

        /* end shop */

        /* projects */
        #projects .project-item {
            flex-direction: row;
        }

        #projects .project-item:nth-child(even) {
            flex-direction: row-reverse;
        }
            #projects .project-item {
            height: 450px;
            margin: 0;
            width: 100%;
            border-radius: 0;
        }
        #projects .all-projects .project-info {
            height: 100%;
        }
        #projects .all-projects .project-img {
            height: 100%;
        }

        /* end projects */

        /* about */

        #about .about{
            flex-direction: row;
        }

        #about .col-left {
            width: 600px;
            height: 400px;
            padding-left: 60px;
        }

        #about .about .col-left .about-img::after {
            left: -45px;
            top: 34px;
            height: 98%;
            width: 98%;
            border: 10px solid crimson;
        }

        #about .col-right {
            text-align: left;
            padding: 30px;
        }

        #about .col-right h1 {
            text-align: left;
        }

        /* end about */

        /* Contact */

        #contact .contact {
            flex-direction: column;
            padding: 100px 0;
            align-items: center;
            justify-content: center;
            min-width: 20vh;
        }

        #contact .contact-items {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 20;
            margin: 0;
        }
        
        #contact .contact-item {
            margin: 20px;
            flex-direction: row;
        }

        #contact .contact-item .icon {
            height: 80px;
            width: 80px;
        }

        #contact .contact-item .icon img {
            object-fit: contain;
        }

        #contact .contact-item .contact-info {
            width: 100%;
            text-align: left;
            padding-left: 20px;
        }

        /* End contact */

    }

/* Laptop/Desktop     */
    @media screen and (min-width: 1200) {
        #shop .shop-bottom .shop-item {
            flex-basis: 22%;
            margin: 1.5%;
        }
    }
/* End media query for desktop */

/* end media query */